.todo-list{
    text-align: start;
    background-color: rgba(168, 211, 236, 0.518);
    box-shadow: 7px 7px 10px 0px rgba(173,159,173,0.59);
}

.sorter {
    bottom: 10%;
    margin: 0 auto;
    padding: 0.25em 0.5em 0.25em 0.5em;
    width: 2em;
    font-size: 0.5em;
    text-align: center;
    background-color: rgba(255, 255, 225, 0.308);
    border: 0.5px solid rgba(224, 133, 91, 0.3);
    list-style-type: none;
    box-sizing: border-box;
    visibility: hidden;
    max-height: 0;
    transition: max-height 0.15s ease-out;
}

.sorter.visible {
    max-height: 2em;
    transition: max-height 0.25s ease-in;
    visibility: visible;
}

ul{
    padding: 0;
    margin: 0;
    
}

