.todo-app{
    font-size: 2em;
    width: 33vw;
    height:auto;
    margin: 0 auto;
}

h2 {
    margin-top:0.5em;
    margin-bottom: 0.3em;
    
}

.todo-title{
    text-align: center;
}

.todo-frame{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}